<div style="background:#EBEBFF;padding-bottom:50px">

    <h3 style="background:#7B6C6C;color:#fff;font-size:15px;padding:5px">&nbsp;Event Details</h3>

    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Customer</label>
            <p>swe4&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Type</label>
            <p>test4&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Requested By</label>
            <p>Swetha Patoor&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Notes</label>
            <p>notes4&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Start date</label>
            <p>11/20/2019&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">End date</label>
            <p>06/17/2020&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label for="text">Description</label>
            <p style="word-break: break-all">test4&nbsp; &nbsp; &nbsp;<a title="ct dqt" href="https://customertestdata.risk.lexisnexis.com/">https://<span style="color: #ff0000;">customertestdata.risk.lexisnexis.com/</span></a></p>
        </div>
    </div>






    <div style="padding-left:15px;padding-right: 15px;">


        <div class="file-item" style="height: unset">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Customer</th>
                    <th>Recurring Type</th>
                    <th>Event Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                </thead>
                <tbody>


                <tr>
                    <td>
                        swe4
                    </td>

                    <td>
                        monthly
                    </td>

                    <td>

                        11/20/2019
                    </td>
                    <td>
                        16:26:00
                    </td>
                    <td>
                        16:33:00
                    </td>


                </tr><tr>
                    <td>
                        swe4
                    </td>

                    <td>
                        monthly
                    </td>

                    <td>

                        12/20/2019
                    </td>
                    <td>
                        16:26:00
                    </td>
                    <td>
                        16:33:00
                    </td>


                </tr><tr>
                    <td>
                        swe4
                    </td>

                    <td>
                        monthly
                    </td>

                    <td>

                        01/20/2020
                    </td>
                    <td>
                        16:26:00
                    </td>
                    <td>
                        16:33:00
                    </td>


                </tr><tr>
                    <td>
                        swe4
                    </td>

                    <td>
                        monthly
                    </td>

                    <td>

                        02/20/2020
                    </td>
                    <td>
                        16:26:00
                    </td>
                    <td>
                        16:33:00
                    </td>


                </tr><tr>
                    <td>
                        swe4
                    </td>

                    <td>
                        monthly
                    </td>

                    <td>

                        03/20/2020
                    </td>
                    <td>
                        16:26:00
                    </td>
                    <td>
                        16:33:00
                    </td>


                </tr><tr>
                    <td>
                        swe4
                    </td>

                    <td>
                        monthly
                    </td>

                    <td>

                        04/20/2020
                    </td>
                    <td>
                        16:26:00
                    </td>
                    <td>
                        16:33:00
                    </td>


                </tr><tr>
                    <td>
                        swe4
                    </td>

                    <td>
                        monthly
                    </td>

                    <td>

                        05/20/2020
                    </td>
                    <td>
                        16:26:00
                    </td>
                    <td>
                        16:33:00
                    </td>


                </tr></tbody>
            </table>
        </div>

        <div class="btn-toolbar" style="display:flex !important;">

            <button class="btn " onclick="javascript:window.location.href='/whatsnew'">back</button>

                        <button class="btn " onclick="javascript:window.location.href='/whatsnew/edit?id=141'">edit</button>
                    </div>


        
    </div>



            </div>