<div style="background:#EBEBFF;padding-bottom:50px">

    <h3 style="background:#7B6C6C;color:#fff;font-size:15px;padding:5px">&nbsp;Event Details</h3>

    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Customer</label>
            <p>{{eventDetails.Customer}}&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Type</label>
            <p>{{eventDetails.TYPE}}&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Requested By</label>
            <p>{{eventDetails.Reported_By}}&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Notes</label>
            <p>{{eventDetails.Notes}}&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">Start date</label>
            <p>{{eventDetails.Start_date}}&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">End date</label>
            <p>{{eventDetails.End_date}}&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label for="text">Description</label>
            <p style="word-break: break-all">{{eventDetails.Description}}&nbsp; &nbsp; &nbsp;<a title="ct dqt"
                    href="https://customertestdata.risk.lexisnexis.com/">https://<span
                        style="color: #ff0000;">customertestdata.risk.lexisnexis.com/</span></a></p>
        </div>
    </div>






    <div style="padding-left:15px;padding-right: 15px;">


        <div class="file-item" style="height: unset">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Recurring Type</th>
                        <th>Event Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td> {{eventDetails.Customer}} </td>
                        <td> {{eventDetails.RecurringType}} </td>
                        <td *ngIf='eventDetails.Start_date == eventDetails.End_date'> {{eventDetails.Start_date}} </td>
                        <td *ngIf='eventDetails.Start_date != eventDetails.End_date'> {{eventDetails.Start_date}} -  {{eventDetails.End_date}}</td>
                        <td> {{eventDetails.Start_time}} </td>
                        <td> {{eventDetails.End_time}} </td>


                    </tr>
                </tbody>
            </table>
        </div>

        <div class="btn-toolbar" style="display:flex !important;">

            <button class="btn " onclick="javascript:window.location.href='/whatsnew'">back</button>

            <button class="btn " onclick="javascript:window.location.href='/whatsnew/edit?id=141'">edit</button>
        </div>



    </div>



</div>