<button (click)="addUser()">Add User</button>
<div class="col-12" *ngFor="let user of users ; let in = index"> 
    
    <div class="card m-b-30">
        <div class="card-body">
            <button (click)="deleteUser(i)">Remove</button>
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <label>First Name</label>
                    <input placeholder="Enter First Name" [(ngModel)]="users[in]['UserRequest']['FirstName']">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <label>last Name</label>
                    <input placeholder="Enter Last Name" [(ngModel)]="users[in]['UserRequest']['LastName']">
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6">
                    <label>Company</label>
                    <input placeholder="Enter Company" [(ngModel)]="users[in]['UserRequest']['Company']">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <label>Email</label>
                    <input placeholder="Enter Email" [(ngModel)]="users[in]['UserRequest']['EmailAddress']">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <label>Work Phone Number</label>
                    <input placeholder="Enter Workphone #" [(ngModel)]="users[in]['UserRequest']['WorkPhoneNumber']">
                </div>

               <div class="col-xs-12 col-sm-6 col-md-6">
                    <label>Extn</label>
                    <input placeholder="Enter Extn" [(ngModel)]="users[in]['UserRequest']['Extn']">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
    <button type="button" class="btn btn-info waves-effect waves-light pull-right" (click)="submit()">Submit</button>
</div>