<div class="header flex-row flex-space-between container-fluid" >
    <div class="left" >
        <img src="assets/images/logo.png">
        <h5 class="primary-text">Customer Test Data Query Tool</h5>
    </div>
    <div class="right flex-row flex-vert-center">
        <span><i class="fa fa-calendar primary-text"></i> Whats New</span>
   <span>
        
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-default" ngbDropdownToggle><i class="fa fa-user-circle-o primary-text"></i> Mahesh Saka</button>
    
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right show" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-83px, 70px, 0px);">
      <a class="dropdown-item" href="#"><i class="dripicons-user text-muted mr-2"></i> Tool Guide</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
  </div>
  </div></span>


    </div>
    
</div>

<header id="topnav">
  
  <!-- MENU Start -->
  <div class="navbar-custom dark-grey-bg">
      <div class="container-fluid">
          <div id="navigation" class="active">
              <!-- Navigation Menu-->
              <ul class="navigation-menu">

                  <li >
                      <a href="index.html" style="padding-left:15px"><i class="fa fa-bell"></i>Announcements</a>
                  </li>

                  <li >
                    <a href="index.html"><i class="fa fa-user-plus"></i>Request New Users</a>
                </li>
                <li >
                  <a href="index.html"><i class="fa fa-globe"></i>Products</a>
              </li>
              <li >
                <a href="index.html"><i class="fa fa-download"></i>Download Full Files</a>
            </li>
            <li >
              <a href="index.html"><i class="fa fa-list"></i>FAQ</a>
          </li>
          <li >
            <a href="index.html"><i class="fa fa-user-secret"></i>Admin</a>
        </li>

                 
              </ul>
              <!-- End navigation menu -->
          </div> <!-- end #navigation -->
      </div> <!-- end container -->
  </div> <!-- end navbar-custom -->
</header>