<div class="page products">

    <div *ngIf="!displayRecordsView" class="row product-form">
        <div class="col-sm-9">
            <div class="heading-bar">
                2. Filter Master List Data by criteria
            </div>
            <form [formGroup]="criteriaForm" class="form-group">
                <table class="table table-hover light-dark-grey-bg">
                    <tbody>
                        <tr>
                            <td><label>State </label></td>
                            <td class="multi-select">

                                <select formControlName="state" placeholder="All States">
                                    <option value="">All States</option>
                                    <option *ngFor="let items of states" value="items">{{items}}</option>
                                </select>
                                <!-- <small *ngIf="ncfForm.controls['state'].invalid && (ncfForm.controls['state'].dirty || ncfForm.controls['state'].touched)"
                                   class="form-text text-muted invalid-data"
                                   class="invalid-data">
                                Please select state
                            </small> -->
                            </td>
                        </tr>

                        <tr>
                            <td><label>Data Source</label></td>
                            <td class="f-horizontal">

                                <input class="form-control" type="radio" formControlName="dataSource">A
                                <input class="form-control" type="radio" formControlName="dataSource">B
                                <input class="form-control" type="radio" formControlName="dataSource">All
                                <!-- <small class="form-text text-muted invalid-data"
                              *ngIf="propertyDataForm.controls['dataSource'].invalid && (propertyDataForm.controls['dataSource'].dirty || propertyDataForm.controls['dataSource'].touched)"
                              class="invalid-data">
                              Please Enter Data Source         </small> -->
                            </td>
                        </tr>
                        <tr>
                            <td><label>Living Area SF</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="areaFrom" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['areaFrom'].invalid && (propertyDataForm.controls['areaFrom'].dirty || propertyDataForm.controls['areaFrom'].touched)"
                                  class="invalid-data">
                                  Please Enter Min Living Area SF        </small> -->
                                  <label>To</label>
                                <input class="form-control" formControlName="areaTo" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['areaTo'].invalid && (propertyDataForm.controls['areaTo'].dirty || propertyDataForm.controls['areaTo'].touched)"
                                  class="invalid-data">
                                  Please Enter Max Living Area SF       </small> -->
                            </td>
                        </tr>
                        <tr>
                            <td><label>Stories</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="storiesFrom" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['storiesFrom'].invalid && (propertyDataForm.controls['storiesFrom'].dirty || propertyDataForm.controls['storiesFrom'].touched)"
                                  class="invalid-data">
                                  Please Enter Min Stories        </small> -->
                                  <label>To</label>
                                <input class="form-control" formControlName="storiesTo" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['storiesTo'].invalid && (propertyDataForm.controls['storiesTo'].dirty || propertyDataForm.controls['storiesTo'].touched)"
                                  class="invalid-data">
                                  Please Enter Max Stories      </small> -->
                            </td>
                        </tr>

                        <tr>
                            <td><label>Bedrooms</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="bedroomsMin" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['bedroomsMin'].invalid && (propertyDataForm.controls['bedroomsMin'].dirty || propertyDataForm.controls['bedroomsMin'].touched)"
                                class="invalid-data">
                                Please Enter Min Bedrooms        </small> -->
                                <label>To</label>
                                <input class="form-control" formControlName="bedroomsMax" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['bedroomsMax'].invalid && (propertyDataForm.controls['bedroomsMax'].dirty || propertyDataForm.controls['bedroomsMax'].touched)"
                                class="invalid-data">
                                Please Enter Max Bedrooms      </small> -->
                            </td>
                        </tr>
                        <tr>
                            <td><label>Baths </label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="bathsMin" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['bathsMin'].invalid && (propertyDataForm.controls['bathsMin'].dirty || propertyDataForm.controls['bathsMin'].touched)"
                                class="invalid-data">
                                Please Enter Min Bathrooms        </small> -->
                                <label>To</label>
                                <input class="form-control" formControlName="bathsMax" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['bathsMax'].invalid && (propertyDataForm.controls['bathsMax'].dirty || propertyDataForm.controls['bathsMax'].touched)"
                                class="invalid-data">
                                Please Enter Max Bathrooms      </small> -->
                            </td>
                        </tr>
                        <tr>
                            <td><label>Fireplace</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="fireplaceMin" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['fireplaceMin'].invalid && (propertyDataForm.controls['fireplaceMin'].dirty || propertyDataForm.controls['fireplaceMin'].touched)"
                                  class="invalid-data">
                                  Please Enter Min Fireplaces       </small> -->
                                  <label>To</label>
                                <input class="form-control" formControlName="fireplaceMax" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['fireplaceMax'].invalid && (propertyDataForm.controls['fireplaceMax'].dirty || propertyDataForm.controls['fireplaceMax'].touched)"
                                  class="invalid-data">
                                  Please Enter Max Fireplaces     </small> -->
                        </tr>
                        <tr>
                            <td><label>Pool </label></td>
                            <td class="f-horizontal">
                                <input class="form-control" type="radio" formControlName="pool" >Yes
                                <input class="form-control" type="radio" formControlName="pool" >No
                                <input class="form-control" type="radio" formControlName="pool" >All
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['pool'].invalid && (propertyDataForm.controls['pool'].dirty || propertyDataForm.controls['pool'].touched)"
                                class="invalid-data">
                                Please enter Pool       </small> -->
                        </tr>
                        <tr>
                            <td><label>AC</label></td>
                            <td class="f-horizontal">
                                <input class="form-control" type="radio" formControlName="ac" >Yes
                                <input class="form-control" type="radio" formControlName="ac" >No
                                <input class="form-control" type="radio" formControlName="ac" >All
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['ac'].invalid && (propertyDataForm.controls['ac'].dirty || propertyDataForm.controls['ac'].touched)"
                                  class="invalid-data">
                                  Please enter AC        </small> -->
                        </tr>
                        <tr>
                            <td><label>Year Built</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="yearBuiltMin" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['yearBuiltMin'].invalid && (propertyDataForm.controls['yearBuiltMin'].dirty || propertyDataForm.controls['yearBuiltMin'].touched)"
                                class="invalid-data">
                                Please Enter Min Year Built       </small> -->
                                <label>To</label>
                                <input class="form-control" formControlName="yearBuiltMax" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['yearBuiltMax'].invalid && (propertyDataForm.controls['yearBuiltMax'].dirty || propertyDataForm.controls['yearBuiltMax'].touched)"
                                class="invalid-data">
                                Please Enter Max Year Built     </small> -->
                        </tr>

                </table>

            </form>
        </div>
        <div class="col-sm-3">
            <div class="heading-bar">
                3. Download
            </div>
            <div class="records">
                <span>Total Dataset Size</span>
                <h3 [innerHTML]="records" type="number" min="0"></h3>
                <p>Records</p>
            </div>
            <div>
                <p>Download Limit : <input [value]="downloadLimit" class="form-control"></p>
                <button class="btn dark-grey-bg white-text btn-block" (click)="downloadRecords()">Download Data</button>
                <button class="btn dark-grey-bg white-text btn-block" (click)="clearAll()">Clear All</button>

                <a [href]="httpService.filesUrl+constants.PDF_MASTER_LIST" class="btn dark-grey-bg white-text btn-block"
                    target="_blank" download="master.pdf">Download Legend</a>
            </div>
        </div>

    </div>

    <div *ngIf="displayRecordsView" class="row products-view">
        <!--        <app-table-filters [tableDisplay]="tableDisplay" [data]="downloadedRecords"></app-table-filters>-->
    </div>

</div>