<div class="page products">

    <div *ngIf="!displayRecordsView" class="row product-form">
        <div class="col-sm-9">
            <div class="heading-bar">
                2. Filter Master List Data by criteria
            </div>
            <form [formGroup]="criteriaForm" class="form-group">
                <table class="table table-hover light-dark-grey-bg">
                    <tbody>
                        <tr>
                            <td><label>State </label></td>
                            <td class="multi-select">

                                <select formControlName="state" placeholder="All States">
                                    <option value="">All States</option>
                                    <option *ngFor="let items of states" value="items">{{items}}</option>
                                </select>
                                <!-- <small *ngIf="ncfForm.controls['state'].invalid && (ncfForm.controls['state'].dirty || ncfForm.controls['state'].touched)"
                                   class="form-text text-muted invalid-data"
                                   class="invalid-data">
                                Please select state
                            </small> -->
                            </td>
                        </tr>

                        <tr>
                            <td><label>Data Source</label></td>
                            <td class="f-horizontal">

                                <input class="form-control" type="radio" formControlName="data_source">A
                                <input class="form-control" type="radio" formControlName="data_source">B
                                <input class="form-control" type="radio" formControlName="data_source">All
                                <!-- <small class="form-text text-muted invalid-data"
                              *ngIf="propertyDataForm.controls['data_source'].invalid && (propertyDataForm.controls['data_source'].dirty || propertyDataForm.controls['data_source'].touched)"
                              class="invalid-data">
                              Please Enter Data Source         </small> -->
                            </td>
                        </tr>
                        <tr>
                            <td><label>Living Area SF</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="from_living_area_sf" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['from_living_area_sf'].invalid && (propertyDataForm.controls['from_living_area_sf'].dirty || propertyDataForm.controls['from_living_area_sf'].touched)"
                                  class="invalid-data">
                                  Please Enter Min Living Area SF        </small> -->
                                  <label>To</label>
                                <input class="form-control" formControlName="to_living_area_sf" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['to_living_area_sf'].invalid && (propertyDataForm.controls['to_living_area_sf'].dirty || propertyDataForm.controls['to_living_area_sf'].touched)"
                                  class="invalid-data">
                                  Please Enter Max Living Area SF       </small> -->
                            </td>
                        </tr>
                        <tr>
                            <td><label>Stories</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="from_number_of_stories" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['from_number_of_stories'].invalid && (propertyDataForm.controls['from_number_of_stories'].dirty || propertyDataForm.controls['from_number_of_stories'].touched)"
                                  class="invalid-data">
                                  Please Enter Min Stories        </small> -->
                                  <label>To</label>
                                <input class="form-control" formControlName="to_number_of_stories" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['to_number_of_stories'].invalid && (propertyDataForm.controls['to_number_of_stories'].dirty || propertyDataForm.controls['to_number_of_stories'].touched)"
                                  class="invalid-data">
                                  Please Enter Max Stories      </small> -->
                            </td>
                        </tr>

                        <tr>
                            <td><label>Bedrooms</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="from_number_of_bedrooms" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['from_number_of_bedrooms'].invalid && (propertyDataForm.controls['from_number_of_bedrooms'].dirty || propertyDataForm.controls['from_number_of_bedrooms'].touched)"
                                class="invalid-data">
                                Please Enter Min Bedrooms        </small> -->
                                <label>To</label>
                                <input class="form-control" formControlName="to_number_of_bedrooms" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['to_number_of_bedrooms'].invalid && (propertyDataForm.controls['to_number_of_bedrooms'].dirty || propertyDataForm.controls['to_number_of_bedrooms'].touched)"
                                class="invalid-data">
                                Please Enter Max Bedrooms      </small> -->
                            </td>
                        </tr>
                        <tr>
                            <td><label>Baths </label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="from_number_of_baths" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['from_number_of_baths'].invalid && (propertyDataForm.controls['from_number_of_baths'].dirty || propertyDataForm.controls['from_number_of_baths'].touched)"
                                class="invalid-data">
                                Please Enter Min Bathrooms        </small> -->
                                <label>To</label>
                                <input class="form-control" formControlName="to_number_of_baths" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['to_number_of_baths'].invalid && (propertyDataForm.controls['to_number_of_baths'].dirty || propertyDataForm.controls['to_number_of_baths'].touched)"
                                class="invalid-data">
                                Please Enter Max Bathrooms      </small> -->
                            </td>
                        </tr>
                        <tr>
                            <td><label>Fireplace</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="from_number_of_fireplaces" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['from_number_of_fireplaces'].invalid && (propertyDataForm.controls['from_number_of_fireplaces'].dirty || propertyDataForm.controls['from_number_of_fireplaces'].touched)"
                                  class="invalid-data">
                                  Please Enter Min Fireplaces       </small> -->
                                  <label>To</label>
                                <input class="form-control" formControlName="to_number_of_fireplaces" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['to_number_of_fireplaces'].invalid && (propertyDataForm.controls['to_number_of_fireplaces'].dirty || propertyDataForm.controls['to_number_of_fireplaces'].touched)"
                                  class="invalid-data">
                                  Please Enter Max Fireplaces     </small> -->
                        </tr>
                        <tr>
                            <td><label>Pool </label></td>
                            <td class="f-horizontal">
                                <input class="form-control" type="radio" formControlName="pool_type" >Yes
                                <input class="form-control" type="radio" formControlName="pool_type" >No
                                <input class="form-control" type="radio" formControlName="pool_type" >All
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['pool_type'].invalid && (propertyDataForm.controls['pool_type'].dirty || propertyDataForm.controls['pool_type'].touched)"
                                class="invalid-data">
                                Please enter pool_type       </small> -->
                        </tr>
                        <tr>
                            <td><label>AC</label></td>
                            <td class="f-horizontal">
                                <input class="form-control" type="radio" formControlName="air_condition" >Yes
                                <input class="form-control" type="radio" formControlName="air_condition" >No
                                <input class="form-control" type="radio" formControlName="air_condition" >All
                                <!-- <small class="form-text text-muted invalid-data"
                                  *ngIf="propertyDataForm.controls['ac'].invalid && (propertyDataForm.controls['ac'].dirty || propertyDataForm.controls['ac'].touched)"
                                  class="invalid-data">
                                  Please enter ac        </small> -->
                        </tr>
                        <tr>
                            <td><label>Year Built</label></td>
                            <td class="f-horizontal">
                                <label>From</label>
                                <input class="form-control" formControlName="from_year_built" placeholder="Enter Min">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['from_year_built'].invalid && (propertyDataForm.controls['from_year_built'].dirty || propertyDataForm.controls['from_year_built'].touched)"
                                class="invalid-data">
                                Please Enter Min Year Built       </small> -->
                                <label>To</label>
                                <input class="form-control" formControlName="to_year_built" placeholder="Enter Max">
                                <!-- <small class="form-text text-muted invalid-data"
                                *ngIf="propertyDataForm.controls['to_year_built'].invalid && (propertyDataForm.controls['to_year_built'].dirty || propertyDataForm.controls['to_year_built'].touched)"
                                class="invalid-data">
                                Please Enter Max Year Built     </small> -->
                        </tr>

                </table>

            </form>
        </div>
        <div class="col-sm-3">
            <div class="heading-bar">
                3. Download
            </div>
            <div class="records">
                <span>Total Dataset Size</span>
                <h3 [innerHTML]="records" type="number" min="0"></h3>
                <p>Records</p>
            </div>
            <div>
                <p>Download Limit : <input [value]="downloadLimit" class="form-control"></p>
                <button class="btn dark-grey-bg white-text btn-block" (click)="downloadRecords()">Download Data</button>
                <button class="btn dark-grey-bg white-text btn-block" (click)="clearAll()">Clear All</button>

                <!-- <a [href]="httpService.filesUrl+constants.PDF_MASTER_LIST" class="btn dark-grey-bg white-text btn-block"
                    target="_blank" download="master.pdf">Download Legend</a> -->
            </div>
        </div>

    </div>

    <div *ngIf="displayRecordsView" class="row products-view">
        <!--        <app-table-filters [tableDisplay]="tableDisplay" [data]="downloadedRecords"></app-table-filters>-->
    </div>

</div>