<div style="height: 64vh;">

  <div class="card login-card light-grey-bg">
        <div class="card-header dark-grey-bg white-text"><i class="fa fa-lock" aria-hidden="true"></i> &nbsp;Secure Customer Sign On</div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="form-group" >
              <label for="email">Email address:</label>
              <input type="email" class="form-control" placeholder="eg: something@example.com" id="email" formControlName="mailaddress">
              <small class="form-text text-muted invalid-data"
                 *ngIf="loginForm.controls['mailaddress'].invalid && (loginForm.controls['mailaddress'].dirty || loginForm.controls['mailaddress'].touched)"
                 class="invalid-data">
            Please enter valid email 
          </small>
           </div>
           <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" placeholder="password" id="pwd" formControlName="pwd">
              <small class="form-text text-muted invalid-data"
                 *ngIf="loginForm.controls['pwd'].invalid && (loginForm.controls['pwd'].dirty || loginForm.controls['pwd'].touched)"
                 class="invalid-data">
            Please enter password 
          </small>
           </div>
          </form>          
           <div class="checkbox">
              <p class="text-align-right" (click)="forgotPwd()"><a [routerLink]="'/forgot'">Forgot Password?</a></p>
           </div>
           <button type="submit" class="btn btn-block btn-danger" (click)="submit(loginForm.value)">Submit</button>
        </div>
     </div>
    </div>
<!--reset password model-->
    <div>
      <ng-template #reset let-modal>
         <div class="modal-header">
           <h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form>
             <div class="form-group" [formGroup]="resetForm" >
               <label for="email">Email:</label>
               <div class="input-group">
                 <input id="email" class="form-control" placeholder="Enter Registered Email" formControlName="email">
                 <small class="form-text text-muted invalid-data"
                 *ngIf="resetForm.controls['email'].invalid && (resetForm.controls['email'].dirty || resetForm.controls['email'].touched)"
                 class="invalid-data">
            Please enter valid email 
          </small>
               </div>
             </div>
           </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-outline-dark" (click)="resetData(resetForm.value); modal.close('Save click')">submit</button>
         </div>
       </ng-template>
       
                   
     </div>
<!--reactive password model-->
     <div>
      <ng-template #reactive let-modal>
         <div class="modal-header">
           <h4 class="modal-title" id="modal-basic-title">Reactive Password</h4>
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form>
            <div class="form-group" [formGroup]="reactiveForm" >
               <label for="email">Email:</label>
               <div class="input-group">
                 <input id="email" class="form-control" placeholder="Enter Registered Email" formControlName="email">
                 <small class="form-text text-muted invalid-data"
                 *ngIf="reactiveForm.controls['email'].invalid && (reactiveForm.controls['email'].dirty || reactiveForm.controls['email'].touched)"
                 class="invalid-data">
            Please enter valid email 
          </small>
               </div>
             </div>
           </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-outline-dark" (click)="reactiveData(reactiveForm.value); modal.close('Save click')">Submit</button>
         </div>
       </ng-template>                 
     </div>
 <!--otp model-->
 <div>
  <ng-template #otp let-modal>
     <div class="modal-header">
       <h4 class="modal-title" id="modal-basic-title">OTP</h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <form>
        <div class="form-group" [formGroup]="otpForm" >
           <label for="otp">OTP</label>
           <div class="input-group">
             <input  class="form-control" placeholder="Enter OTP" formControlName="otp">
             <small class="form-text text-muted invalid-data"
             *ngIf="otpForm.controls['otp'].invalid && (otpForm.controls['otp'].dirty || otpForm.controls['otp'].touched)"
             class="invalid-data">
        Please enter OTP 
      </small>
           </div>
         </div>
       </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="otpData(otpForm.value); modal.close('Save click')">Submit</button>
     </div>
   </ng-template>                 
 </div> 
 
  <!--password expiry model-->
  <div>
    <ng-template #passwordExpire let-modal>
       <div class="modal-header">
         <h4 class="modal-title" id="modal-basic-title">Password Expired</h4>
         <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form>
          <div class="form-group" [formGroup]="passwordExpiryForm" >
             <label for="password">Password</label>
             <div class="input-group">
               <input  class="form-control" placeholder="Enter Password" formControlName="password">
               <small class="form-text text-muted invalid-data"
               *ngIf="passwordExpiryForm.controls['password'].invalid && (passwordExpiryForm.controls['password'].dirty || passwordExpiryForm.controls['password'].touched)"
               class="invalid-data">
          Please enter password 
        </small>
             </div>
             <label for="password"> Confirm Password</label>
             <div class="input-group">
               <input  class="form-control" placeholder="Enter Confirm Password" formControlName="confirmPassword">
               <small class="form-text text-muted invalid-data"
               *ngIf="passwordExpiryForm.controls['confirmPassword'].invalid && (passwordExpiryForm.controls['confirmPassword'].dirty || passwordExpiryForm.controls['confirmPassword].touched)"
               class="invalid-data">
          Please enter confirm password 
        </small>
             </div>
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-outline-dark" (click)="passwordExpired(passwordExpiryForm.value); modal.close('Save click')">Submit</button>
       </div>
     </ng-template>                 
   </div>
