<div style="height: 64vh;">

  <div class="card login-card light-grey-bg">
        <div class="card-header dark-grey-bg white-text"><i class="fa fa-lock" aria-hidden="true"></i> &nbsp;Secure Customer Sign On</div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="form-group" >
              <label for="email">Email address:</label>
              <input type="email" class="form-control" placeholder="eg: something@example.com" id="email" formControlName="mailaddress">
           </div>
           <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" placeholder="password" id="pwd" formControlName="pwd">
           </div>
          </form>          
           <div class="checkbox">
              <p class="text-align-right" (click)="forgotPwd()"><a [routerLink]="'/forgot'">Forgot Password?</a></p>
           </div>
           <button type="submit" class="btn btn-block btn-danger" (click)="submit(loginForm.value)">Submit</button>
        </div>
     </div>
    </div>
<!--reset password model-->
    <div>
      <ng-template #reset let-modal>
         <div class="modal-header">
           <h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form>
             <div class="form-group" [formGroup]="resetForm" >
               <label for="email">Email:</label>
               <div class="input-group">
                 <input id="email" class="form-control" placeholder="Enter Registered Email" formControlName="email">
                 
               </div>
             </div>
           </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-outline-dark" (click)="resetData(resetForm.value); modal.close('Save click')">submit</button>
         </div>
       </ng-template>
       
                   
     </div>
<!--reactive password model-->
     <div>
      <ng-template #reactive let-modal>
         <div class="modal-header">
           <h4 class="modal-title" id="modal-basic-title">Reactive Password</h4>
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form>
            <div class="form-group" [formGroup]="reactiveForm" >
               <label for="email">Email:</label>
               <div class="input-group">
                 <input id="email" class="form-control" placeholder="Enter Registered Email" formControlName="email">
                 
               </div>
             </div>
           </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-outline-dark" (click)="reactiveData(reactiveForm.value); modal.close('Save click')">Submit</button>
         </div>
       </ng-template>                 
     </div>
