
<div class="page products">

    <div *ngIf="!displayRecordsView" class="row product-form">
        <div class="col-sm-9">
            <div class="heading-bar">
                2.Filter Foreclosure Data by Criteria
            </div>
            <form [formGroup]="forceClosureForm" class="form-group">
                <table class="table table-hover light-dark-grey-bg">
                    <tbody>
                    <tr>
                        <td><label>State </label></td>
                        <td class="multi-select">

                            <select formControlName="state" placeholder="All States">
                                <option value="">All States</option>
                                <option *ngFor="let items of states" value="items">{{items}}</option>
                            </select>
                            <!--  <small class="form-text text-muted invalid-data"
                  *ngIf="forceClosureForm.controls['state'].invalid && (forceClosureForm.controls['state'].dirty || forceClosureForm.controls['state'].touched)"
                  class="invalid-data">
                  Please enter State         </small> -->
                        </td>
                    </tr>

                    <tr>
                        <td>  <label>Forceclosure Code</label></td>
                        <td class="f-horizontal">

                            <select  placeholder="Select Code" formControlName="foreclosure_code" >
                                <option value="">Select Forceclosure Code</option>
                                <option *ngFor="let items of forceClosures" [value]="items">{{items}}</option></select>
                            <!-- <small class="form-text text-muted invalid-data"
                              *ngIf="forceClosureForm.controls['foreclosure_code'].invalid && (forceClosureForm.controls['foreclosure_code'].dirty || forceClosureForm.controls['foreclosure_code'].touched)"
                              class="invalid-data">
                              Please select Forceclosure Code</small> -->
                        </td>
                    </tr>


                    <tr>
                        <td>   <label>Address Potentially vacant</label></td>
                        <td class="f-horizontal">

                            <input class="form-control" type="radio" formControlName="potential_vacant" value="Yes" >Yes
                            <input class="form-control" type="radio" formControlName="potential_vacant" value="No">No
                            <input class="form-control" type="radio" formControlName="potential_vacant" value="All">All
                            <!-- <small class="form-text text-muted invalid-data"
                              *ngIf="forceClosureForm.controls['potential_vacant'].invalid && (forceClosureForm.controls['potential_vacant'].dirty || forceClosureForm.controls['potential_vacant'].touched)"
                              class="invalid-data">
                              Please select Address Potentially vacant          </small> -->
                        </td>
                    </tr>



                    <tr>
                        <td> <label>Vacancy Duration</label></td>
                        <td class="f-horizontal">
                   
                             <label>From</label>
            <input class="form-control" placeholder="enter days" formControlName="from_vacancy_duration">
            <!-- <small class="form-text text-muted invalid-data"
              *ngIf="forceClosureForm.controls['from_vacancy_duration'].invalid && (forceClosureForm.controls['from_vacancy_duration'].dirty || forceClosureForm.controls['from_vacancy_duration'].touched)"
              class="invalid-data">
              Please select Vacancy Duration From      </small> -->
            
            <label>To</label>
            <input class="form-control" placeholder="enter days" formControlName="to_vacancy_duration" >
            <!-- <small class="form-text text-muted invalid-data"
              *ngIf="forceClosureForm.controls['to_vacancy_duration'].invalid && (forceClosureForm.controls['to_vacancy_duration'].dirty || forceClosureForm.controls['to_vacancy_duration'].touched)"
              class="invalid-data">
              Please select Vacancy Duration To       </small> -->
                        </td>
                    </tr>



           

               </table>

            </form>
        </div>
        <div class="col-sm-3">
            <div class="heading-bar">
                3. Download
            </div>
            <div class="records">
                <span>Total Dataset Size</span>
                <h3 [innerHTML]="records" type="number" min="0"></h3>
                <p>Records</p>
            </div>
            <div>
                <p>Download Limit : <input [value]="downloadLimit" class="form-control" ></p>
                <button class="btn dark-grey-bg white-text btn-block" (click)="downloadRecords()">Download Data</button>
                <button class="btn dark-grey-bg white-text btn-block" (click)="clearAll()">Clear All</button>

                <!-- <a [href]="httpService.filesUrl+constants.PDF_MASTER_LIST" class="btn dark-grey-bg white-text btn-block" target="_blank" download="master.pdf">Download Legend</a> -->
            </div>
        </div>

    </div>

    <div *ngIf="displayRecordsView" class="row products-view">
               <!-- <app-table-filters [tableDisplay]="tableDisplay" [data]="downloadedRecords"></app-table-filters> -->
    </div>

</div>
