<div class="page products">
    <div class="row">
        <div class="col-sm-9">
            <div class="heading-bar">
                2. Filter Master List Data by criteria
            </div>
            <table class="table table-hover light-grey-bg">
                <tbody>
                    <tr>
                        <td>State</td>
                        <td>
                            <select class="form-control">
                                <option value="">All States</option>
                            </select>
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td>
                            <input type="radio"> Yes <input type="radio"> No <input type="radio"> All
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <div class="heading-bar">
                3. Download
            </div>
            <div class="records">
                <span>Total Dataset Size</span>
                <h3>37,897</h3>
                <p>Records</p>
            </div>
            <div>
                <p>Download Limit : <input value="15000"></p>
                <button class="btn dark-grey-bg white-text btn-block">Download Data</button>
                <button class="btn dark-grey-bg white-text btn-block">Clear All</button>
                <button class="btn dark-grey-bg white-text btn-block">Download Legend</button>
            </div>
        </div>
    </div>
    
    
   
</div>