<div class="page">
  <div class="heading-bar">
    2. Create New Announcement
</div>
    <div class="table-form" [formGroup]="announcementForm">
      <div class="row light-dark-grey-bg" style="margin-left:0;margin-right:0">
        <div class="col-sm-6 col-md-6">
          <div class="row">
              <div class="col-sm-3">
                <label for="email">Title:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="eg: something@example.com"  formControlName="title">
                <small class="form-text text-muted invalid-data"
                   *ngIf="announcementForm.controls['title'].invalid && (announcementForm.controls['title'].dirty || announcementForm.controls['title'].touched)"
                   class="invalid-data">
              Please enter valid title  
            </small>
              </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6" *ngIf="announcementForm.value.urgentMessage">
          <div class="row">
              <div class="col-sm-3">
                <label for="email">Priority:</label>
              </div>
              <div class="col-sm-9">
                  <select class="form-control"  placeholder="Select Priority" formControlName="Priority" >
                    <option value="">Select Priority</option>
                    <option value="1">High</option>
                    <option value="2">Medium</option>
                    <option value="3">Low</option>
                  </select>
                <small class="form-text text-muted invalid-data"
                  *ngIf="announcementForm.controls['Priority'].invalid && (announcementForm.controls['Priority'].dirty || announcementForm.controls['Priority'].touched)"
                  class="invalid-data">
                  Please select Priority</small>
              </div>
          </div>
          
           
        </div>
      </div>
      <div class="row light-dark-grey-bg" *ngIf="announcementForm.value.urgentMessage" style="margin-left:0;margin-right:0">
        <div class="col-sm-6 col-md-6">
          <div class="row">
              <div class="col-sm-3">
                <label for="email">From Date:</label>
              </div>
              <div class="col-sm-9">
                <input class="form-control" ngbDatepicker (click)="datePicker1.toggle()" #datePicker1="ngbDatepicker"
              formControlName="fromDate" placeholder="yyyy-mm-dd">
            <small class="form-text text-muted invalid-data"
              *ngIf="announcementForm.controls['fromDate'].invalid && (announcementForm.controls['fromDate'].dirty || announcementForm.controls['fromDate'].touched)"
              class="invalid-data">
              Please enter Date </small>
              </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6" *ngIf="announcementForm.value.urgentMessage">
          <div class="row">
              <div class="col-sm-3">
                <label for="email">To Date:</label>
              </div>
              <div class="col-sm-9">
                <input class="form-control" ngbDatepicker (click)="datePicker2.toggle()" #datePicker2="ngbDatepicker"
                formControlName="toDate" placeholder="yyyy-mm-dd">
              <small class="form-text text-muted invalid-data"
                *ngIf="announcementForm.controls['toDate'].invalid && (announcementForm.controls['toDate'].dirty || announcementForm.controls['toDate'].touched)"
                class="invalid-data">
                Please enter Date </small>
              </div>
          </div>
          
           
        </div>
      </div>

      <div class="row light-dark-grey-bg" *ngIf="announcementForm.value.urgentMessage" style="margin-left:0;margin-right:0">
        <div class="col-sm-6 col-md-6">
          <div class="row">
              <div class="col-sm-3">
                <label for="email">Start Time:</label>
              </div>
              <div class="col-sm-9">
                <ngb-timepicker formControlName="startTime" [meridian]="true" required></ngb-timepicker>
              <small class="form-text text-muted invalid-data"
              *ngIf="announcementForm.controls['fromDate'].invalid && (announcementForm.controls['fromDate'].dirty || announcementForm.controls['fromDate'].touched)"
              class="invalid-data">
              Please enter Date </small>
              </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6" *ngIf="announcementForm.value.urgentMessage">
          <div class="row">
              <div class="col-sm-3">
                <label for="email">End Time:</label>
              </div>
              <div class="col-sm-9">
                <ngb-timepicker formControlName="endTime" [meridian]="true" required></ngb-timepicker>
              <small class="form-text text-muted invalid-data"
              *ngIf="announcementForm.controls['toDate'].invalid && (announcementForm.controls['toDate'].dirty || announcementForm.controls['toDate'].touched)"
              class="invalid-data">
              Please enter Date </small>
              </div>
          </div>
          
           
        </div>
      </div>
      <div class="row light-dark-grey-bg"  style="margin-left:0;margin-right:0">
      

        <div class="row col-sm-2">
          <div class="col-sm-12">
            <label for="email">Type:</label>
          </div>
          
      </div>
      <div class="col-sm-10 space-checkbox">
        <label>
          <input type="checkbox" (change)="onAnnouncementChanged()" formControlName="announcements" > <span>Announcement</span> </label>           
    
          <label>
          <input type="checkbox" (change)="onUrgentMessageChanged()" formControlName="urgentMessage" >
        <span>Urgent Message</span> </label>
      </div>
       
      </div>
      <div class="row light-dark-grey-bg" style="margin-left:0;margin-right:0">
        <div class="row col-sm-2">
          <div class="col-sm-12">
            <label for="email">Message:</label>
          </div>
          
      </div>
      <div class="col-sm-10">
        <angular-editor formControlName="message" [config]="editorConfig"></angular-editor>
      
      </div>
      </div>

      <div class="row light-dark-grey-bg"  style="margin-left:0;margin-right:0">
        <div class="col-sm-6 col-md-6">
          <div class="row">
              <div class="col-sm-3">
                <label for="email">Upload Attachement:</label>
              </div>
              <div class="col-sm-9">
                  <input type="file" class="form-control" (change)="onFileChange($event)">

                  <input type="hidden" formControlName="filename">
                  <small class="form-text text-muted invalid-data"
                  *ngIf="announcementForm.controls['filename'].invalid && (announcementForm.controls['filename'].dirty || announcementForm.controls['filename'].touched)"
                  class="invalid-data">
                  Please enter filename </small>
              </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6" >
          <div class="row">
              <div class="col-sm-3">
                <label for="email">Send Email:</label>
              </div>
              <div class="col-sm-9">
                <select class="form-control" formControlName="sendEmail">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <small class="form-text text-muted invalid-data"
                *ngIf="announcementForm.controls['toDate'].invalid && (announcementForm.controls['toDate'].dirty || announcementForm.controls['toDate'].touched)"
                class="invalid-data">
                Please enter Date </small>
              </div>
          </div>
          
           
        </div>
      </div>

      <table class="table table-hover light-grey-bg">
        
      <tfoot class="table table-hover light-grey-bg">
        <tr>
          <td colspan="5">
            
            <button class="button btn btn-default dark-grey-bg white-text" (click)="cancel()">Cancel</button>
            <button  class="button btn btn-default primary-red-bg white-text" (click)="submit(announcementForm.value)">Submit</button>
          
          </td>
        </tr>
     </tfoot>
        
      </table>
      
    </div> 
</div>


