.fc-clear {
    clear: both;
    display: none !important;
}

.events-details{
    td{word-break: break-all;min-width:80px}
}

.fc-scroller {
    height: 342px !important;
    overflow: hidden !important;
}
.transparent-button {
    background: transparent;
    border: 0px;
}
.white-text {
    color: #fff !important;
}
.fc-widget-header table {
    margin: 0px !important;
}
.scrollable-table {
    margin-top: -10px;
    background: #f9f9f9;
}
.scrollable-table tbody {
    display: block;
    height: 310px;
    overflow: auto;
}
.scrollable-table thead tr,
.scrollable-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}
.scrollable-table th,
td {
    //text-align: center;
    font-size:12px
}

.modal-header{
    background:#cf2109 !important;
    color:#fff !important;
}

.btn-primary{
    background:#606060
}

#copyright p{
    margin-top:15px;
}

#secondary_footer{
    margin-top:2px !important
}

.badge{
    margin-right: 5px;
    font-size:10px;
}


.dot {
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.private a{
    text-decoration:none !important;
    color:#000 !important;
}

 .public a{
    color:#dc3545 !important
}

.recurring1{
    border-left:5px solid green;
}

/* .fc-today {
    background: #ccc !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
}*/

.pull-right{
    float:right
}

.btn-toolbar{
    button{
        margin-left:5px;
        height: 29.3906px;
    padding: 10px;
    padding-top: 3px;
    }
}


.box{
    widows: 100px;;
    height:10px;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    margin-right:10px;
    padding-right:-20px;
}