<p>2.Filter Current Carrier property Data by Criteria</p>
<div class="page">
    <div class="page-heading">2.Filter property Data by Criteria</div>
    <div [formGroup]="currentCarrierPropertyForm" class="form card">
      <div class="card-body">
        <div class="row">
            <!-- copy start here       -->
            
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label>State </label>
               
                <select formControlName="state" placeholder="All States">
                    <option value="">All States</option>
                    <option *ngFor="let items of states" value="items">{{items}}</option>
                </select>
                <small class="form-text text-muted invalid-data"
                  *ngIf="currentCarrierPropertyForm.controls['state'].invalid && (currentCarrierPropertyForm.controls['state'].dirty || currentCarrierPropertyForm.controls['state'].touched)"
                  class="invalid-data">
                  Please enter State         </small>
              </div>
            
              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>AMBest  </label>
                <input class="form-control" formControlName="amBest" placeholder="Enter Number">
                <small class="form-text text-muted invalid-data"
                  *ngIf="currentCarrierPropertyForm.controls['amBest'].invalid && (currentCarrierPropertyForm.controls['amBest'].dirty || currentCarrierPropertyForm.controls['amBest'].touched)"
                  class="invalid-data">
                  Please enter AMBest Number        </small>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>Number Of Policies</label> 
                <label>From</label>
                <input class="form-control" formControlName="policyNumberFrom" placeholder="Enter Number">
                <!-- <small class="form-text text-muted invalid-data"
                  *ngIf="currentCarrierPropertyForm.controls['policyNumberFrom'].invalid && (currentCarrierPropertyForm.controls['policyNumberFrom'].dirty || currentCarrierPropertyForm.controls['policyNumberFrom'].touched)"
                  class="invalid-data">
                  Please Enter Min Number Of Policies       </small> -->
                  <label>To</label>
                <input class="form-control" formControlName="policyNumberTo" placeholder="Enter Number">
                <!-- <small class="form-text text-muted invalid-data"
                  *ngIf="currentCarrierPropertyForm.controls['policyNumberTo'].invalid && (currentCarrierPropertyForm.controls['policyNumberTo'].dirty || currentCarrierPropertyForm.controls['policyNumberTo'].touched)"
                  class="invalid-data">
                  Please Enter Max Number Of Policies      </small> -->
              </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <label>Active Policy</label>
                <input class="form-control" type="radio" formControlName="activePolicy" >Yes
                <input class="form-control" type="radio" formControlName="activePolicy" >No
                <input class="form-control" type="radio" formControlName="activePolicy" >All
                <small class="form-text text-muted invalid-data"
                  *ngIf="currentCarrierPropertyForm.controls['activePolicy'].invalid && (currentCarrierPropertyForm.controls['activePolicy'].dirty || currentCarrierPropertyForm.controls['activePolicy'].touched)"
                  class="invalid-data">
                  Please Enter Active Policy         </small>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>Policy Type </label>
               
                <select formControlName="policyType" placeholder="Select">
                    <option value="">Select</option>
                    <option *ngFor="let items of policytypes " value="items">{{items}}</option>
                </select>
                <small class="form-text text-muted invalid-data"
                  *ngIf="currentCarrierPropertyForm.controls['policyType'].invalid && (currentCarrierPropertyForm.controls['policyType'].dirty || currentCarrierPropertyForm.controls['policyType'].touched)"
                  class="invalid-data">
                  Please Enter Policy Type    </small>
              </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Inception Date</label> 
            <label>From</label>
            <input class="form-control" formControlName="inceptionDateFrom" placeholder="MM/DD/YYYY">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['inceptionDateFrom'].invalid && (currentCarrierPropertyForm.controls['inceptionDateFrom'].dirty || currentCarrierPropertyForm.controls['inceptionDateFrom'].touched)"
              class="invalid-data">
              Please Enter Min Inception Date        </small>
              <label>To</label>
            <input class="form-control" formControlName="inceptionDateTo" placeholder="MM/DD/YYYY">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['inceptionDateTo'].invalid && (currentCarrierPropertyForm.controls['inceptionDateTo'].dirty || currentCarrierPropertyForm.controls['inceptionDateTo'].touched)"
              class="invalid-data">
              Please Enter Max Inception Date       </small>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Start Date</label>
            <label>From</label>
            <input class="form-control" formControlName="startDateFrom" placeholder="MM/DD/YYYY">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['startDateFrom'].invalid && (currentCarrierPropertyForm.controls['startDateFrom'].dirty || currentCarrierPropertyForm.controls['startDateFrom'].touched)"
              class="invalid-data">
              Please Enter Start Date From        </small>
              <label>To</label>
            <input class="form-control" formControlName="startDateTo" placeholder="MM/DD/YYYY">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['startDateTo'].invalid && (currentCarrierPropertyForm.controls['startDateTo'].dirty || currentCarrierPropertyForm.controls['startDateTo'].touched)"
              class="invalid-data">
              Please Enter Start Date To    </small>
          </div>
  
                  
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>End Date</label>
            <label>From</label>
            <input class="form-control" formControlName="endDateFrom" placeholder="MM/DD/YYYY">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['endDateFrom'].invalid && (currentCarrierPropertyForm.controls['endDateFrom'].dirty || currentCarrierPropertyForm.controls['endDateFrom'].touched)"
              class="invalid-data">
              Please Enter End Date From       </small>
              <label>To</label>
            <input class="form-control" formControlName="endDateTo" placeholder="MM/DD/YYYY">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['endDateTo'].invalid && (currentCarrierPropertyForm.controls['endDateTo'].dirty || currentCarrierPropertyForm.controls['endDateTo'].touched)"
              class="invalid-data">
              Please Enter End Date To     </small>
          </div>
  
                  
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Cancel Date </label>
            <label>From</label>
            <input class="form-control" formControlName="cancelDateFrom" placeholder="MM/DD/YYYY">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['cancelDateFrom'].invalid && (currentCarrierPropertyForm.controls['cancelDateFrom'].dirty || currentCarrierPropertyForm.controls['cancelDateFrom'].touched)"
              class="invalid-data">
              Please Enter cancel Date From      </small>
              <label>To</label>
            <input class="form-control" formControlName="cancelDateTo" placeholder="MM/DD/YYYY">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['cancelDateTo'].invalid && (currentCarrierPropertyForm.controls['cancelDateTo'].dirty || currentCarrierPropertyForm.controls['cancelDateTo'].touched)"
              class="invalid-data">
              Please Enter cancel Date To     </small>
          </div>
          <h3>Coverage</h3>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Type</label>
          
            <select formControlName="coverageType" placeholder="Select">
                <option value="">Select</option>
                <option *ngFor="let items of coverageTypes " value="items">{{items}}</option>
            </select>
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['coverageType'].invalid && (currentCarrierPropertyForm.controls['coverageType'].dirty || currentCarrierPropertyForm.controls['coverageType'].touched)"
              class="invalid-data">
              Please Enter Coverage Types       </small>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Occurence</label>
           
            <input class="form-control" formControlName="occurence" placeholder="Enter Occurence">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['occurence'].invalid && (currentCarrierPropertyForm.controls['occurence'].dirty || currentCarrierPropertyForm.controls['occurence'].touched)"
              class="invalid-data">
              Please Enter Occurences       </small>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Combined Single Limit</label>
          
            <input class="form-control" formControlName="limit" placeholder="Enter Limit">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['limit'].invalid && (currentCarrierPropertyForm.controls['limit'].dirty || currentCarrierPropertyForm.controls['limit'].touched)"
              class="invalid-data">
              Please Enter Combined Single Limit       </small>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Individual</label>
           
            <input class="form-control" formControlName="individual" placeholder="Enter Individual">
            <small class="form-text text-muted invalid-data"
              *ngIf="currentCarrierPropertyForm.controls['individual'].invalid && (currentCarrierPropertyForm.controls['individual'].dirty || currentCarrierPropertyForm.controls['individual'].touched)"
              class="invalid-data">
              Please Enter Individual      </small>
          </div>
  
            
          <!-- copy end here -->

        </div>
      </div>
    </div>
  </div>


