/* You can add global styles to this file, and also import other style files */
$light-grey:#fcfcfc;
$dark-grey:#777;
$primary-red:#d91b22;
.dark-grey-bg{
    background-color: $dark-grey;
}
.dark-grey-border{
    border:1px solid $dark-grey;
}
.primary-red-bg{
    background: $primary-red;
}
.primary-text{
    color:$primary-red
}

.white-text{
    color:#fff;
}
.light-grey-bg{
    background: $light-grey;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: $dark-grey;
    border-bottom: 1px solid $dark-grey;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.header .left{
	display:flex;
	align-items:center;
}
.header h4{
	margin-left:30px;
}
.header img{
	width:180px;
}
.boxed-layout{
	background:#fff;
     
	 -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.btn-danger {
    color: #fff;
    background-color: $primary-red;
    border-color: $primary-red;
}
body{
	background:$light-grey
}
.text-align-right{
text-align:right
}
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
  }



  

  .flex-row{
      display: flex;
      flex-direction: row;
  }

  .flex-vert-center{
      align-items: center;
  }

  .flex-space-between{
      justify-content: space-between;
  }
  .btn-outline-primary{
      color:#000
  }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: $dark-grey;
    border-color: $dark-grey;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: $dark-grey;
    border-color: $dark-grey;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem $dark-grey;
}
.btn-outline-primary {
    color: #000;
    border-color: $dark-grey;
}

.card-body{
    width: 100%;
}

.page{
    min-height: 400px;
}

tr{
    background-color: rgba(0,0,0,.075);
}

tfoot{
    tr{
        background-color: #fff;
        td{
            padding:10px
        }
    }
}

.padded-input{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-link{
    color:$dark-grey !important
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color:$dark-grey !important;
    border-color: $dark-grey !important;
}

.dropdown-content{
    z-index:25
}

.fa-filter{
    margin-left:5px
}