<p>2.Filter Household Members Data by Criteria</p>
<div class="page">
    <div class="page-heading">2.Filter Household Members Data by Criteria</div>
    <div [formGroup]="householdMembersForm" class="form card">
      <div class="card-body">
        <div class="row">
            <!-- copy start here       -->
            
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label>State </label>
               
                <select formControlName="state" placeholder="All States">
                    <option value="">All States</option>
                    <option *ngFor="let items of states" value="items">{{items}}</option>
                </select>
                <small class="form-text text-muted invalid-data"
                  *ngIf="householdMembersForm.controls['state'].invalid && (householdMembersForm.controls['state'].dirty || householdMembersForm.controls['state'].touched)"
                  class="invalid-data">
                  Please enter State         </small>
              </div>
            
              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>Youthful Driver  </label>
                <input class="form-control" type="radio" formControlName="youthfulDriver" >Yes
                <input class="form-control" type="radio" formControlName="youthfulDriver" >No
                <input class="form-control" type="radio" formControlName="youthfulDriver" >All
                <small class="form-text text-muted invalid-data"
                  *ngIf="householdMembersForm.controls['youthfulDriver'].invalid && (householdMembersForm.controls['youthfulDriver'].dirty || householdMembersForm.controls['youthfulDriver'].touched)"
                  class="invalid-data">
                  Please enter Youthful Driver        </small>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>Expired License</label> 
               
                <input class="form-control" type="radio" formControlName="expiredLicense" >Yes
                <input class="form-control" type="radio" formControlName="expiredLicense" >No
                <input class="form-control" type="radio" formControlName="expiredLicense" >All
                <small class="form-text text-muted invalid-data"
                  *ngIf="householdMembersForm.controls['expiredLicense'].invalid && (householdMembersForm.controls['expiredLicense'].dirty || householdMembersForm.controls['expiredLicense'].touched)"
                  class="invalid-data">
                  Please Enter License Expired       </small>
                
              </div>


              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>Street Name </label>
                <input class="form-control" formControlName="streetName" placeholder="Enter Street Name ">
                <small class="form-text text-muted invalid-data"
                  *ngIf="householdMembersForm.controls['streetName'].invalid && (householdMembersForm.controls['streetName'].dirty || householdMembersForm.controls['streetName'].touched)"
                  class="invalid-data">
                  Please enter Street Name         </small>
              </div>
    
              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>Apartment </label>
                <input class="form-control" formControlName="apartmentName" placeholder="Enter Apartment Name">
                <small class="form-text text-muted invalid-data"
                  *ngIf="householdMembersForm.controls['apartmentName'].invalid && (householdMembersForm.controls['apartmentName'].dirty || householdMembersForm.controls['apartmentName'].touched)"
                  class="invalid-data">
                  Please enter Apartment Name          </small>
              </div>
      
                      
              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>City  </label>
                <input class="form-control" formControlName="city" placeholder="Enter City">
                <small class="form-text text-muted invalid-data"
                  *ngIf="householdMembersForm.controls['city'].invalid && (householdMembersForm.controls['city'].dirty || householdMembersForm.controls['city'].touched)"
                  class="invalid-data">
                  Please enter City        </small>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <label>Zip  </label>
                <input class="form-control" formControlName="zip" placeholder="Enter Zip Code">
                <small class="form-text text-muted invalid-data"
                  *ngIf="householdMembersForm.controls['zip'].invalid && (householdMembersForm.controls['zip'].dirty || householdMembersForm.controls['zip'].touched)"
                  class="invalid-data">
                  Please enter Zip       </small>
              </div>


            
          <!-- copy end here -->

        </div>
      </div>
    </div>
  </div>



