
<div>
   <div class="panel">
       <div class="header">
           <span class="heading">Home Line Products </span>
           <span><i class="fa fa-arrow-down"></i></span>
       </div>
       <div class="body">
        <table class="table">
            <thead>
              <tr class="dark-grey-bg white-text">
                  <td>Product</td>
                  <td>Current Version</td>
                  <td>Previous Version</td>
              </tr>
            </thead>
          <tbody>
             
                    <tr class="table">
              <td>
              
              ADD</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/ADD_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
                                <a href="/Downloadfullfiles/download/filename/ADD_v0.csv">Download</a>
                         
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              Advanced Linking(ALi)</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/AdvancedLinkingAuto_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
              Not Applicable				 
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              Auto Rating Pack</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/AutoRatingPack_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
              Not Applicable				 
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              C.L.U.E. Auto</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/CLUEAuto_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
                                <a href="/Downloadfullfiles/download/filename/CLUEAuto_v0.csv">Download</a>
                         
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              C.L.U.E. Property</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/CLUEProperty_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
                                <a href="/Downloadfullfiles/download/filename/CLUEProperty_v0.csv">Download</a>
                         
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              Current Carrier Auto</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/CurrentCarrierAuto_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
                                <a href="/Downloadfullfiles/download/filename/CurrentCarrierAuto_v0.csv">Download</a>
                         
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              Current Carrier Property</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/CurrentCarrierProperty_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
                                <a href="/Downloadfullfiles/download/filename/CurrentCarrierProperty_v0.csv">Download</a>
                         
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              Instant ID</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/InstantID_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
              Not Applicable				 
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              Master List</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/MasterList_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
                                <a href="/Downloadfullfiles/download/filename/MasterList_v0.csv">Download</a>
                         
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              MVR</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/MVR_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
                                <a href="/Downloadfullfiles/download/filename/MVR_v0.csv">Download</a>
                         
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              NCF</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/NCF_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
              Not Applicable				 
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              Vehicle Build</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/VehicleBuild_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
              Not Applicable				 
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              Vehicle History</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/VehicleHistory_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
              Not Applicable				 
              
              
              </td>
      </tr>
                    <tr class="table">
              <td>
              
              VIN</td>
      
                  <td>
                  
                                      <a href="/Downloadfullfiles/download/filename/VIN_v1.csv">Download</a>
                         
                
                  
                  </td>
              <td>
                                <a href="/Downloadfullfiles/download/filename/VIN_v0.csv">Download</a>
                         
              
              
              </td>
      </tr>
       
      </tbody></table>
       </div>
   </div>
</div>