<div>
    <div class="panel">
        <div class="header">
            <span class="heading">Home Line Products </span>
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
        <div class="body">
            <table class="table">
                <thead>
                    <tr class="dark-grey-bg white-text">
                        <td>Product</td>
                        <td>Current Version</td>
                        <td>Previous Version</td>
                    </tr>
                </thead>
                <tbody>

                    <tr class="table" *ngFor="let items of json">
                        <td>{{items.file_type}}</td>
                        <td>
                            <a *ngIf="items.current_version != 'Unavailable'" href="/Downloadfullfiles/download/filename/{{items.current_version}}">Download</a>
                            <a *ngIf="items.current_version == 'Unavailable'">Not Applicable</a>
                        </td>
                        <td>
                            <a *ngIf="items.prev_version != 'Unavailable'" href="/Downloadfullfiles/download/filename/{{items.prev_version}}">Download</a>
                            <a *ngIf="items.prev_version == 'Unavailable'">Not Applicable</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>